.headers {
  color: red;
}

.headers em{
  font-size: 40px;
  border: 1px solid black;
}

li {
  font-size: 20px;
}

li em {
  font-weight: bold;
}

ol  {
  background-color: yellow;
}

ol li:nth-of-type(2n) {
  color: green;
}

ol li:nth-of-type(2n -1) {
  text-transform: uppercase;
}

ul.linguagens li:nth-of-type(-n+3) {
  color: blue;
}

ul.linguagens li.java {
  background-color: pink;
}
