body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600;
    line-height: 3em;
    text-align: center;
    
}

.decoracao {
    text-decoration: underline;
    line-height: 2em;

}

.vermelho  {
    background-color: rgb(255,0,0);
}

.amarelo  {
    background-color: rgb(236, 240, 17)
}

.marrom {
    background-color: rgb(36, 4, 4)
}

.branco {
    color: rgb(255,255,255);
}

.preto {
    color: rgb(0,0,0);
}
