h3  {
  display: inline;
}

div:hover  {
  border: 4px solid yellow;
}

div:nth-of-type(1) {
  background-color: aqua;
}

div:nth-of-type(2){
  background-color: red;
}

div:nth-of-type(3) {
  background-color: purple;
  height: 40px;
}


div:nth-of-type(4){
  background-color: black;
}

div:nth-of-type(5){
  background-color: greenyellow;
}

div:nth-of-type(2n) h3  {
  color: white;
}

div:nth-of-type(2n -1) h3 {
  color: black;
  font-style: italic;
}